%h1 
  Chirp index
- @chirps.each do |chirp|
  .chirp-card
    %p.chirp-content
      = raw chirp.content
    .chirp-username
      by:
      = link_to chirp.user.username, users_path(chirp.user)
    .chirp-controls    
      = link_to "Delete", chirp_path(chirp), method: 'delete'