default: &default
  adapter: postgres
  host: localhost

development:
  <<: *default
  database: chirper_development

test:
  <<: *default
  database: chirper_test

production:
  <<: *default
  database: chirper_production
